.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.about-container>h2 {
    font-size: 30px;
}

.about-container>p {
    max-width: 130vh;
    margin-top: 5px;
    font-size: 25px;
}

.about-final-para {
    margin-bottom: 20px;
}

.about-button {
    height: 40px;
    width: 120px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: darkorchid;
    border: none;
    border-radius: 10px 10px;

    margin-top: 10px;
    margin-bottom: 60px;
}