.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.about-container>p {
    max-width: 900px;
    margin-top: 5px;
}