#profile-picture {
    margin-top: 20px;
    margin-bottom: -10px;
    height: 225px;
    width: 225px;
    border-style: solid;
    border-width: 3px;
    border-radius: 200px;
    border-color: white;
    box-shadow: 6px 3px 30px 0 darkorchid;
}

.headers {
    background-color: rgb(42, 35, 47);
    color: white;
    min-height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.border-wrapper {
    width: 100%;
}

.border {
    width: 3000px;
    height: 3px;
    animation: rotate 3s infinite linear;
    
    background: rgb(48, 255, 144);
    background: linear-gradient(to right, rgb(255, 255, 0) 0%,
        rgb(153, 50, 204) 75%, rgb(255, 255, 0) 100%);
}

@keyframes rotate {
    from { background-position: -3000px;}
    to {background-position: 0px;}
}

.headers > h1 {
    margin-bottom: 5px;
    font-size: 60px;
}

.headers > h3 {
    margin-top: 5px;
    color: rgb(146, 134, 156);
}

.homepage-content {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}