.projects-container {
    margin-bottom: 20px;
}

.projects-container>h2 {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-top: 40px;
}

.projects-images-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 120vh;

}

.projects-image {
    height: 250px;
    width: 280px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 40px;

    background: url("https: //pixel-mate.com/images/design/box-1-web-apps.png");

    box-shadow: 5px 6px 10px 3px rgb(10, 9, 12);
}


.projects-description {
    color: white;
    font-size: 20px;
    margin-left: 30px;
    margin-bottom: 20px;
}

.more-info {
    margin-top: -7px;
    display: flex;
}

.projects-button {
    margin-left: 30px;

    height: 40px;
    width: 120px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: darkorchid;
    border: none;
    border-radius: 10px 10px;
    cursor: pointer;
    align-self: center;
}

.projects-button:hover {
    background-color: rgb(190, 126, 222);
}

.projects-button:active {
    background-color: rgb(190, 126, 222);
    transform: translateX(2px) translateY(2px);
}

.projects-page-divider {
    margin-left: auto;
    margin-right: auto;

    width: 80vh;
    height: 3px;
    animation: rotate 10s infinite linear;

    background: rgb(48, 255, 144);
    background: linear-gradient(to right, rgb(255, 255, 0) 0%,
            rgb(153, 50, 204) 75%, rgb(255, 255, 0) 100%);
}

