.gym-project-container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 150vh;
    margin-left: auto;
    margin-right: auto;
}

.gym-project-container>h2 {
    font-size: 23px;
    margin-bottom: 8px;
}

.gym-project-intro {
    margin-top: 0px;
    margin-bottom: 7px;
    text-align: center;
    font-size: 20px;
}

.gym-project-brief {
    margin-top: 0px;
    margin-bottom: 7px;
    text-align: center;
    font-size: 20px;
}

.gym-project-brief-list {
    margin-top: 10px;
}

.gym-project-brief-list-item {
    margin-bottom: 7px;
    font-size: 20px;
}

.app-demo {
    border-style: solid;
    border-width: 2px;
    border-color: white;

    min-height: 50vh;
    min-width: 80vh;
}