.embla {
    overflow: hidden;
    width: 650px;
    height: 450px;
    margin-top: 50px;
}

.embla__container {
    display: flex;
    margin-left: auto;
    margin-right: auto;

    width: 370px;
    height: 400px;
}

.embla__slide {
    flex: 0 0 100%;
    width: 370px;
    height: 400px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 4px 3px 10px 8px rgb(10, 9, 12);
}